main.register .register-form{
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.copy{
    font-size: 15px;
    font-weight: bold;
}

main.register .register-form .control,
main.login .login-form .control-login,
.profile{
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    margin-top: 3%;
}

div.interests{
    text-align: center;

}

button.button-register{
    width: 30%;
}

button.button-login{
    background-color:#0044aa;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    width: 100%;
}

button.button-register{
    background-color: darkgray;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    margin-bottom: 5%;
}

div.interests,
button.button-register,
button.button-login{
    padding: 10px;
    margin-top: 10px;
}


    @media (min-width: 769px) {
    main.login,
    main.register{
        width: 50%;
        padding: 12px, 10px;
        border: #666;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main.login{
        margin-top: 8%;
        margin-bottom: 8%;
    }

    main.register form button.button-register{
        transition: background-color 300ms;
        transition: color 300ms;
    }

    main.register form button.button-register:hover{
        background-color: #0022AA;
        color: #ffffff;
    } 
    button.button-login{
        width: 80%;
        margin-bottom: 3%;
    }

    
    

}

